@import "../../../scss/constant.module.scss";
@import "../../../scss/color.module.scss";

.wrapper {
  position: fixed;
  z-index: 100;
  height: 100%;
  // width: 12%;
  .container {
    flex-direction: column;
    width: 18rem;
    display: flex;
    height: 100%;
    justify-content: space-between;
  }
  .list {
    display: block;
    color: inherit;
    color: white;
    font-size: 1.2rem;
    padding: 0.8rem;
    text-decoration: none;
    > :nth-child(1) {
      position: relative;
      bottom: -0.2rem;
      text-align: center;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }
}
